<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <section class="">
    <div class="container text-center text-md-start">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-6 mx-auto mb-1 mt-2">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-1">
            <i class="fas fa-gem"></i>Sauveteur du dunkerquois
          </h6>
          <p style="font-size:0.9rem">
            Ce site rend hommage aux femmes, hommes et enfants qui ont réalisé des actes de sauvetages en milieu aquatique.
            Agissant souvent au mépris du risque, ils méritent amplement que leurs actes soient pérennisés.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 mt-2">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-1">
            Liens utiles
          </h6>
          <p>
            <a href="#!" class="text-reset">Presse</a>
          </p>
          <p>
            <a href="https://www.snsm.org/nous-soutenir/donner/faire-un-don" class="text-reset">Sites amis</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Exprimez-vous</a>
          </p>
        </div>


  <!-- Grid column -->
  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 mt-2">
    <!-- Links -->
    <h6 class="text-uppercase fw-bold mb-1">
      S'abonner
    </h6>
    <p>
      <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Nom">
    </p>
    <p>
      <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
    </p>
    <p>
      <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
    </p>
    <p>
      
    </p>
  </div>

  <!-- Grid column -->

        <!-- Grid column -->
    
        <hr>
           
          </div>
          
           <!-- Default form register -->

              <!-- Grid column -->
     
      <!-- Grid row -->
    </div>
  </section>
  
  <!-- Copyright -->
</footer>
<!-- Footer -->
