<div class="container mt-5 mb-5">
    <h2 class="mt-2 mb-3 mx-auto w-title-connexion NI-section">Connexion</h2>
    <form [formGroup]="authInForm" class="width mx-auto">
        <div class="form-group mt-3">
            <label for="username" class="fs-5 ms-2 mb-1">Adresse e-mail *</label>
            <input type="text" id="username" class="form-control" formControlName="username" [ngClass]="{'is-invalid': authInForm.controls['username'].invalid && (authInForm.controls['username'].dirty || authInForm.controls['username'].touched), 'is-valid': authInForm.controls['username'].valid && authInForm.controls['username'].dirty && authInForm.controls['username'].touched}">
            <div class="text-danger" *ngIf="authInForm.controls['username'].invalid && (authInForm.controls['username'].dirty || authInForm.controls['username'].touched) == true">
                <div *ngIf="authInForm.controls['username'].errors">L'adresse mail est invalide</div>
            </div>
        </div>
        <div class="form-group mt-2">
            <label for="password" class="fs-5 ms-2 mb-1">Mot de passe *</label>
            <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{'is-invalid': authInForm.controls['password'].invalid && (authInForm.controls['password'].dirty || authInForm.controls['password'].touched), 'is-valid': authInForm.controls['password'].valid && authInForm.controls['password'].dirty && authInForm.controls['password'].touched}">
            <div class="text-danger" *ngIf="authInForm.controls['password'].invalid && (authInForm.controls['password'].dirty || authInForm.controls['password'].touched) == true">
                <div *ngIf="authInForm.controls['password'].errors">Le mot de passe est invalide</div>
            </div>
        </div>
        <div class="form-group">
            <a class="link-secondary">Mot de passe oublié ?</a>
        </div>
        <button class="btn btn-success mt-4 w-100" (click)="onSubmit()">Connexion</button>
        <div class="text-center">
            <button class="btn btn-outline-dark mt-4 me-2" style="width: 47%;" (click)="loginWithGoogle()"><i class="bi bi-google"></i> Google</button>
            <button class="btn btn-outline-dark mt-4 ms-2" style="width: 47%;" (click)="loginWithFacebook()"><i class="bi bi-facebook"></i> Facebook</button>
        </div>
        <a routerLink="/CreateAccount" class="btn btn-primary mt-4 w-100">Créer un compte</a>
        <!-- <p class="alert-danger fs-5 ps-2" *ngIf="errorMessage"><i class="bi bi-exclamation-triangle-fill"></i> {{ errorMessage }}</p> -->
    </form>
</div>