<div class="container mt-5 mb-5">
    <h2 class="mt-2 mb-3 mx-auto w-title-connexion NI-section">Connexion</h2>

    <section class="easter">
        <div class="bateau">
            <div class="top">
                <div class="mat"></div>
                <div class="voile"></div>
            </div>
            <div class="bottom">
                <div class="lcoque"></div>
                <div class="coque"></div>
                <div class="rcoque"></div>
            </div>
        </div>
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
        <div class="wave wave4"></div>
        <div class="patrick"></div>
    </section>
</div>