/* You can add global styles to this file, and also import other style files */
.NI-section {
    color: #969696;
    text-align: center;
}

.width {
    width: 30%;
}

.easter {
    position: relative;
    width: 100%;
    height: 60vh;
    background-color: #3586ff;
    overflow: hidden;
    border: 1px solid rgba(196, 196, 196, 0.5) !important;
}

.easter .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("./assets/wave.png");
    background-size: 1000px 100px;
}

.easter .wave.wave1 {
    animation: animate 25s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

@keyframes animate 
{
    0% 
    {
        background-position-x: 0;
    }
    100% 
    {
        background-position-x: 1000px;
    }
}

.easter .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

@keyframes animate2
{
    0% 
    {
        background-position-x: 0;
    }
    100% 
    {
        background-position-x: 1000px;
    }
}

.easter .wave.wave3 {
    animation: animate2 3s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -5s;
    bottom: 30px;
}

.easter .wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

.bateau {
    position: relative;
    left: 500px;
    top: 300px;
    animation: bateau 15s linear;
}

.patrick {
    width: 282px;
    height: 270px;
    background: url("./assets/franck-dubosc-patrick-3.gif");
    position: relative;
    left: 775px;
    top: -75px;
    z-index: 100;
    animation: patrick 16s linear;
}

@keyframes patrick {
    0%
    {
        opacity: 0;
    }
    99%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes bateau
{
    from 
    {
        left: -150px;
    }
    to
    {
        left: 500px;
    }
}

.voile {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 75px 0 0 75px;
    border-color: transparent transparent transparent red;
    display: inline-block;
}

.top {
    position: relative;
    left: 55px;
}

.mat {
    margin-right: 3px;
    width: 10px;
    height: 80px;
    background-color: brown;
    display: inline-block;
}

.lcoque {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 35px 35px 0;
    border-color: transparent white transparent transparent;
    display: inline-block;
}

.coque {
    height: 35px;
    width: 80px;
    background-color: white;
    display: inline-block;
}

.rcoque {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 35px 0 0;
    border-color: white transparent transparent transparent;
    display: inline-block;
}

.title-section {
    color: #969696;
}

.surlignement {
    height: 5px;
    background-color: #3e91d0;
}