<div class="container mt-5 mb-5">
    <h2 class="mt-2 mb-3 mx-auto w-title-authentification NI-section">Création de compte</h2>
    <form [formGroup]="createInForm" class="width mx-auto">
        <div class="form-group mt-3">
            <label for="lastname" class="fs-5 ms-2 mb-1">Nom *</label>
            <input type="text" id="lastname" formControlName="lastname" class="form-control" [ngClass]="{'is-invalid': createInForm.controls['lastname'].invalid && (createInForm.controls['lastname'].dirty || createInForm.controls['lastname'].touched), 'is-valid': createInForm.controls['lastname'].valid && createInForm.controls['lastname'].dirty && createInForm.controls['lastname'].touched}">
            <div class="text-danger" *ngIf="createInForm.controls['lastname'].invalid && (createInForm.controls['lastname'].dirty || createInForm.controls['lastname'].touched) == true">
                <div *ngIf="createInForm.controls['lastname'].errors">Le nom est invalide</div>
            </div>
        </div>
        <div class="form-group mt-3">
            <label for="firstname" class="fs-5 ms-2 mb-1">Prénom *</label>
            <input type="text" id="firstname" formControlName="firstname" class="form-control" [ngClass]="{'is-invalid': createInForm.controls['firstname'].invalid && (createInForm.controls['firstname'].dirty || createInForm.controls['firstname'].touched), 'is-valid': createInForm.controls['firstname'].valid && createInForm.controls['firstname'].dirty && createInForm.controls['firstname'].touched}">
            <div class="text-danger" *ngIf="createInForm.controls['firstname'].invalid && (createInForm.controls['firstname'].dirty || createInForm.controls['firstname'].touched) == true">
                <div *ngIf="createInForm.controls['firstname'].errors">Le prénom est invalide</div>
            </div>
        </div>
        <div class="form-group mt-3">
            <label for="mail" class="fs-5 ms-2 mb-1">Adresse e-mail *</label>
            <input type="text" id="mail" formControlName="mail" class="form-control" [ngClass]="{'is-invalid': createInForm.controls['mail'].invalid && (createInForm.controls['mail'].dirty || createInForm.controls['mail'].touched), 'is-valid': createInForm.controls['mail'].valid && createInForm.controls['mail'].dirty && createInForm.controls['mail'].touched}">
            <div class="text-danger" *ngIf="createInForm.controls['mail'].invalid && (createInForm.controls['mail'].dirty || createInForm.controls['mail'].touched) == true">
                <div *ngIf="createInForm.controls['mail'].errors">L'adresse mail est invalide</div>
            </div>
        </div>
        <div class="form-group mt-2">
            <label for="password" class="fs-5 ms-2 mb-1">Mot de passe *</label>
            <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{'is-invalid': createInForm.controls['password'].invalid && (createInForm.controls['password'].dirty || createInForm.controls['password'].touched), 'is-valid': createInForm.controls['password'].valid && createInForm.controls['password'].dirty && createInForm.controls['password'].touched}">
            <div class="text-danger" *ngIf="createInForm.controls['password'].invalid && (createInForm.controls['password'].dirty || createInForm.controls['password'].touched) == true">
                <div *ngIf="createInForm.controls['password'].errors">Le mot de passe est invalide</div>
            </div>
        </div>
        <button class="btn btn-success mt-4 w-100">Créer un compte</button>
    </form>
</div>