<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Les Sauveteurs du Dunkerquois</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="Communaute" >Communaute</a>
          </li>
        </ul>
        <a routerLink="/EasterEgg" class="text-light" style="position: absolute; right: 0; top: 0; text-decoration: none;">.</a>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" *ngIf="isAuth">
            <a class="nav-link">{{ user.forname }} {{ user.lastname }}</a>
        </li>
          <li class="nav-item" *ngIf="isAuth">
              <a routerLink="Home" (click)="logout()" class="nav-link"><i class="bi bi-power"></i> Déconnexion</a>
          </li>
          <li class="nav-item" *ngIf="!isAuth">
            <a routerLink="Login" class="nav-link" routerLinkActive="active"><i class="bi bi-person"></i> Connexion</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>